<!--- Theme Parallax - News -->
<ion-header header-ios>
  <ion-navbar transparent>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="data != null">{{data.headerTitle}}</ion-title>
  </ion-navbar>
</ion-header>



<!--- Header Big Image-->
<ion-content elastic-header>


  <ion-item no-lines background-size id="elastic-header" [ngStyle]="{'background-image': 'url(' + data.photo + ')'}">
    <div title-block *ngIf="data != null">
      <!--- Category -->
      <span new-category>{{data.category}}</span>
    </div>
  </ion-item>


  <ion-item-group *ngIf="data != null">


    <ion-item-divider border no-lines>
      <!--- poster photo -->
      <ion-avatar item-start>
        <img [src]="data.user_photo" />
      </ion-avatar>
      <!-- poster name -->
      <h2 item-subtitle>{{data.user_name}}</h2>
      <h3 item-subtitle>{{data.address}}</h3>
      <button (click)="socialSharingLauncher()" item-end ion-button button-action-shit>
        <ion-icon name="{{data.shareIcon}}"></ion-icon>
      </button>
    </ion-item-divider>



    <!-- Content -->
    <ion-item no-margin no-lines >
      <!-- Content Title-->
      <h2 parallax-subtitle margin-bottom text-wrap>{{data.title}}</h2>
      <!-- Content Description-->
      <p parallax-description text-wrap>{{data.content}}</p>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col col-12>
            <agm-map [latitude]="map.map.lat" [longitude]="map.map.lng" [zoom]="map.map.zoom" [mapTypeControl]="map.map.mapTypeControl" [streetViewControl]="map.map.streetViewControl">
                <agm-marker [latitude]="map.map.lat" [longitude]="map.map.lng"></agm-marker>
            </agm-map>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
            <ion-icon float-left *ngFor="let item of ratingStars;let i = index"
            (click)="onStarClass( i, 'rate');">
              <i icon-small *ngIf="item.isActive" class="icon {{item.iconActive}}"></i>
              <i icon-small *ngIf="!item.isActive" class="icon {{item.iconInactive}}"></i>
            </ion-icon>
        </ion-col>

        <ion-col col-6>
          <button ion-button block color="primary" outline (click)="messagePoster()">{{ MessagePublisherLabel }}</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item-group>
</ion-content>
