ServerApp/dothelpnationServerApp/.vs/config/applicationhost.config
ServerApp/dothelpnationServerApp/.vs/dothelpnationServerApp/v15/.suo
ServerApp/dothelpnationServerApp/.vs/
ServerApp/dothelpnationServerApp/dothelpnationServerApp/bin/
ServerApp/dothelpnationServerApp/dothelpnationServerApp/obj/
ServerApp/dothelpnationServerApp/packages/
MobileApp/resources/README.md
ServerApp/dothelpnationServerApp/Domain/obj/
ServerApp/dothelpnationServerApp/DataAccessLayer/obj/
ServerApp/dothelpnationServerApp/BusinessLayer/obj/
ServerApp/dothelpnationServerApp/DataAccessLayer/bin/
ServerApp/dothelpnationServerApp/WebApi/bin/
ServerApp/dothelpnationServerApp/WebApi/obj/
ServerApp/dothelpnationServerApp/BusinessLayer/bin/
