ServerApp/dothelpnationServerApp/.vs/config/applicationhost.config
ServerApp/dothelpnationServerApp/.vs/dothelpnationServerApp/v15/.suo
ServerApp/dothelpnationServerApp/.vs/
ServerApp/dothelpnationServerApp/dothelpnationServerApp/bin/
ServerApp/dothelpnationServerApp/dothelpnationServerApp/obj/
ServerApp/dothelpnationServerApp/packages/
MobileApp/resources/README.md
ServerApp/dothelpnationServerApp/Domain/obj/
ServerApp/dothelpnationServerApp/DataAccessLayer/obj/
ServerApp/dothelpnationServerApp/BusinessLayer/obj/
ServerApp/dothelpnationServerApp/DataAccessLayer/bin/
ServerApp/dothelpnationServerApp/WebApi/bin/
ServerApp/dothelpnationServerApp/WebApi/obj/
ServerApp/dothelpnationServerApp/BusinessLayer/bin/
BackendApp/dothelpnationBackend/.vs/
BackendApp/dothelpnationBackend/BusinessLayer/BusinessLayer.csproj.user
BackendApp/dothelpnationBackend/BusinessLayer/bin/
BackendApp/dothelpnationBackend/BusinessLayer/obj/
BackendApp/dothelpnationBackend/DataAccessLayer/bin/
BackendApp/dothelpnationBackend/DataAccessLayer/obj/
BackendApp/dothelpnationBackend/dothelpnationBackend/bin/
BackendApp/dothelpnationBackend/packages/
BackendApp/dothelpnationBackend/dothelpnationBackend/obj/
