<ion-header>

  <ion-navbar>
    <ion-title>{{ currentUserName }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content #content id="messagesContent">
  <ion-list>
    <ion-item *ngFor="let chat of chats" no-lines>
      <div class="chat-status" text-center *ngIf="!chat.showMessage ; else message">
      </div>
      <ng-template #message>
        <div class="chat-message" text-right *ngIf="chat.userId !== currentUserId">
          <div class="right-bubble">
            <!-- <span class="msg-name"> {{ chat.userName }} </span> -->
            <span class="msg-date">{{ chat.sendDate }} , {{ chat.time }}</span>
            <p text-wrap>{{chat.message}}</p>
          </div>
        </div>
        <div class="chat-message" text-left *ngIf="chat.userId === currentUserId">
          <div class="left-bubble">
            <!-- <span class="msg-name">{{ chat.userName }}</span> -->
            <span class="msg-date">{{chat.sendDate}} , {{ chat.time }}</span>
            <p text-wrap>{{chat.message}}</p>
          </div>
        </div>
      </ng-template>
    </ion-item>
  </ion-list>

  <div class="startChatlabel" *ngIf="middleTextShowInitially && middleTextShowChatsLoaded">
      <p style="margin:0px;color: gray;"> Send any information </p>
      <p style="margin:0px;color: gray;"> that may help the publisher , try to help </p>
      <p style="margin:0px;color: gray;"> by typing and click send Or <ion-icon name="paper-plane"></ion-icon></p>
  </div>
  

</ion-content>


<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col col-10>
        <ion-textarea [(ngModel)]="newMessage" rows="1" placeholder="Type a message" name="message"></ion-textarea>
      </ion-col>
      <ion-col col-2 (click)="sendMessage()">
        <ion-icon style="font-size: 2em !important;" color="primary" name="paper-plane"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
