<ion-header >
  <ion-navbar dir="{{dir}}">
    <ion-title>{{ data.backtologin }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-grid *ngIf="data != null" dir="{{dir}}">
    <ion-row padding-horizontal align-items-start>
      <ion-col no-padding col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
        <!---Logo-->
        <ion-thumbnail>
          <img [src]="data.logo">
        </ion-thumbnail>
        <!--Form Title-->
        <h1 ion-text register-title padding-bottom color="registerTitle">{{data.title}}</h1>
        <!---Input field username-->
        <form [formGroup]="registerForm">
          <ion-item>
            <ion-label stacked>{{data.labelUsername}}</ion-label>
            <ion-input dir="{{dir}}" [formControl]="registerForm.controls['username']"
             required placeholder="{{data.username}}" type="text" [(ngModel)]="username"></ion-input>
            <ion-label [style.direction] = "revDir" error-field color="error" no-margin
            *ngIf="registerForm.controls.username.hasError('required') && registerForm.controls.username.touched">{{ validations.Username.required }}</ion-label>
          </ion-item>
          <!---Input field age-->
          <ion-item>
            <ion-label stacked>{{data.lableAge}}</ion-label>
            <ion-input dir="{{dir}}" [formControl]="registerForm.controls['age']"
            required placeholder="{{data.age}}" type="age" [(ngModel)]="age"></ion-input>
            <ion-label [style.direction] = "revDir"  error-field color="error" no-margin
            *ngIf="registerForm.controls.age.hasError('required') && registerForm.controls.age.touched">{{ validations.Age.required }}</ion-label>
          </ion-item>
          <!---Input field phone-->
          <ion-item>
            <ion-label stacked>{{data.lablePhone}}</ion-label>
            <ion-input dir="{{dir}}"  [formControl]="registerForm.controls['phone']"
            required placeholder="{{data.phone}}" type="phone" [(ngModel)]="phone"></ion-input>
            <ion-label [style.direction] = "revDir"  error-field color="error" no-margin
            *ngIf="registerForm.controls.phone.hasError('required') && registerForm.controls.phone.touched">{{ validations.Phone.required }}</ion-label>

            <ion-label [style.direction] = "revDir"  error-field color="error" no-margin
            *ngIf="registerForm.controls.phone.hasError('maxlength') && registerForm.controls.phone.touched">{{ validations.Phone.length }}</ion-label>

            <ion-label [style.direction] = "revDir"  error-field color="error" no-margin
            *ngIf="registerForm.controls.phone.hasError('minlength') && registerForm.controls.phone.touched">{{ validations.Phone.length }}</ion-label>
          </ion-item>
          <!---Input field email-->
          <ion-item>
            <ion-label stacked>{{data.lableEmail}}</ion-label>
            <ion-input dir="{{dir}}" [formControl]="registerForm.controls['email']"
            required placeholder="{{data.email}}" type="email" required [(ngModel)]="email"></ion-input>
            <ion-label [style.direction] = "revDir" error-field color="error" no-margin
            *ngIf="registerForm.controls.email.hasError('required') && registerForm.controls.email.touched">{{ validations.Eamil.required }}</ion-label>

            <ion-label [style.direction] = "revDir"  error-field color="error" no-margin
            *ngIf="registerForm.controls.email.hasError('pattern') && registerForm.controls.email.touched">{{ validations.Eamil.format }}</ion-label>
          </ion-item>
          <!---Input field password-->
          <span formGroupName="passwords">
            <ion-item>
              <ion-label stacked>{{data.lablePassword}}</ion-label>
              <ion-input formControlName="password"
              required dir="{{dir}}" placeholder="{{data.password}}" type="password" [(ngModel)]="password"></ion-input>
              <ion-label [style.direction] = "revDir"  error-field color="error" no-margin
              *ngIf="registerForm.controls['passwords'].controls?.password.hasError('required')
              && registerForm.controls['passwords'].controls?.password.touched">{{ validations.Password.required }}</ion-label>

              <ion-label [style.direction] = "revDir"  error-field color="error" no-margin
              *ngIf="registerForm.controls['passwords'].controls?.password.hasError('pattern')
              && registerForm.controls['passwords'].controls?.password.touched">{{ validations.Password.format }}</ion-label>
            </ion-item>
            <!---Input field password-->
            <ion-item>
              <ion-label stacked>{{data.lableConfirmPassword}}</ion-label>
              <ion-input dir="{{dir}}" formControlName="confirmpassword"
              required placeholder="{{data.confirmpassword}}" type="password" [(ngModel)]="confirmpassword"></ion-input>

              <ion-label [style.direction]="revDir"  error-field color="error"
              *ngIf="registerForm.controls['passwords'].controls?.confirmpassword.hasError('required')
              && registerForm.controls['passwords'].controls?.confirmpassword.touched">{{ validations.ConfirmPassword.required }}</ion-label>

               <ion-label [style.direction]="revDir"  error-field color="error" no-margin
              *ngIf="registerForm.get(['passwords','password'])?.value != registerForm.get(['passwords','confirmpassword'])?.value && registerForm.get(['passwords','confirmpassword'])?.value != null">
              {{ validations.ConfirmPassword.matching }}</ion-label>
            </ion-item>
          </span>


          <ion-col align-self-end bottom-form col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
            <!---Login button-->
            <button [disabled]="!registerForm.valid || (registerForm.get(['passwords','password'])?.value != registerForm.get(['passwords','confirmpassword'])?.value && registerForm.get(['passwords','confirmpassword'])?.value != null)"
            ion-button full text-capitalize default-button (click)="onRegister('onRegister')">{{data.register}}</button>
            <!---Facebook button-->
          </ion-col>
        </form>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
