<ion-header>

  <ion-navbar>
    <ion-title>Add Advertisement</ion-title>

    <ion-buttons start>
      <button ion-button (click)="close()">
        <span color="primary" showWhen="ios">
          cancel
        </span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
    
  </ion-navbar>


</ion-header>


<ion-content padding no-bounce>


  <div class="profile-image-wrapper" (click)="presentImageActionSheet()">
    <div class="profile-image-placeholder" *ngIf="!blogImage">
      <ion-icon name="add"></ion-icon>
      <div>
        Add Image
      </div>
    </div>
    <div class="profile-image" [style.backgroundImage]="imageViewer()" *ngIf="blogImage"></div>
  </div>

  <ion-list>
    <ion-item (click)="onblogSections()">
      <ion-label [style.color]="errors.SectionId != null ? 'red' : 'black'"> Blog Type </ion-label>
      <ion-note item-end>
        {{ BlogType }}
      </ion-note>
    </ion-item>

    <ion-item (click)="onMainCities()">
      <ion-label [style.color]="errors.CityId != null ? 'red' : 'black'"> City </ion-label>
      <ion-note item-end>
        {{ City }}
      </ion-note>
    </ion-item>

    <ion-item (click)="onPlaces()">
      <ion-label [style.color]="errors.PlaceId != null ? 'red' : 'black'"> Place </ion-label>
      <ion-note item-end>
        {{ Place }}
      </ion-note>
    </ion-item>


    <ion-item>
      <ion-label [style.color]="errors.address != null ? 'red' : 'black'" stacked>Your address</ion-label>
      <ion-input (keyup)="reValidateErrors('address')" [(ngModel)]="UserAddress" type="text"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label [style.color]="errors.title != null ? 'red' : 'black'" stacked>Title</ion-label>
      <ion-input (keyup)="reValidateErrors('title')" [(ngModel)]="BlogTitle" type="text"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label [style.color]="errors.description != null ? 'red' : 'black'" stacked>Description</ion-label>
      <ion-textarea (keyup)="reValidateErrors('description')" [(ngModel)]="BlogDescription" rows="4">
      </ion-textarea>
    </ion-item>

    <ion-grid>
        <ion-row>
          <ion-col col-12>
              <agm-map [latitude]="map.map.lat" [longitude]="map.map.lng" [zoom]="map.map.zoom" [mapTypeControl]="map.map.mapTypeControl" [streetViewControl]="map.map.streetViewControl">
                  <agm-marker 
                  [latitude]="map.map.lat" 
                  [longitude]="map.map.lng"
                  [disableDefaultUI]="false"
                  [markerDraggable]="true"
                  (dragEnd)="markerDragEnd($event)">
                </agm-marker>

              <agm-circle 
                  [latitude]="map.map.lat" 
                  [longitude]="map.map.lng" 
                  [radius]="80"
                  [fillColor]="'red'"
                  [circleDraggable]="false"
                  [editable]="false">
              </agm-circle>
              </agm-map>
          </ion-col>
        </ion-row>
    </ion-grid>

  </ion-list>



  <button ion-button block color="primary" outline (click)="uploadImage()">Publish My Blog</button>


</ion-content>
