<ion-header>

  <ion-navbar>
    <ion-title>Add Advertisement</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <div class="profile-image-wrapper" (click)="presentImageActionSheet()">
    <div class="profile-image-placeholder" *ngIf="!blogImage">
      <ion-icon name="add"></ion-icon>
      <div>
        Add Image
      </div>
    </div>
    <div class="profile-image" [style.backgroundImage]="imageViewer()" *ngIf="blogImage"></div>
  </div>


  

  <ion-content padding>
    <button ion-button block color="primary" outline (click)="uploadImage()">Filter</button>
</ion-content>

</ion-content>
