<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>323317174806-j7q11frl47re5r0be4vk8s14m83jggro.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.323317174806-j7q11frl47re5r0be4vk8s14m83jggro</string>
	<key>API_KEY</key>
	<string>AIzaSyD2_UYOPetETl8T2gXtydigs35e0hjIV_A</string>
	<key>GCM_SENDER_ID</key>
	<string>323317174806</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.dothelpnation.appgenesisEG</string>
	<key>PROJECT_ID</key>
	<string>dothelpnation-1535528739275</string>
	<key>STORAGE_BUCKET</key>
	<string>dothelpnation-1535528739275.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:323317174806:ios:b193aa97f2412fbd</string>
	<key>DATABASE_URL</key>
	<string>https://dothelpnation-1535528739275.firebaseio.com</string>
</dict>
</plist>