<ion-header>

  <ion-navbar dir="{{dir}}">
    <ion-title> {{ data.HeaderLabel }} </ion-title>

    <ion-buttons end>
       <button ion-button outline item-end icon-start (click)="openBlogAddItem()">
        <ion-icon name="add"></ion-icon>  
      </button>
    </ion-buttons> 

    <ion-buttons end>
      <button ion-button outline item-end icon-start (click)="filter()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content>
  <!-- <ion-searchbar (ionInput)="getItems($event)" placeholder="Seach in blogs"></ion-searchbar> -->


  <ion-grid no-padding dir="{{dir}}">
    <ion-row *ngIf="Blogs != null">
      <ion-col col-12 col-lg-4 *ngFor="let advertisement of Blogs;let i = index">
        <ion-card text-left (click)="viewSingleBlog(advertisement.id)">
          <!--Card Image-->
          <div card-image>
            <img class="image-blog" onError="this.src='assets/img/dothelpnation.png';" [src]="advertisement.photo" />
            <ion-badge ion-fixed item-end class="badge-dark TimeLabel"> about {{advertisement.date | timeAgo}}</ion-badge>
            <button ion-fixed ion-button button-action-shit (click)="messageBlogPoster(advertisement.user_id , advertisement.user_name , advertisement.user_email , advertisement.id);  $event.stopPropagation();">
              <ion-icon name="{{advertisement.shareIcon}}"></ion-icon>
            </button>
          </div>
          <!--Card descriptiom-->
          <ion-card-content >
            <ion-card-title>
              <!--Card Title-->
              <h2 card-title>{{advertisement.title}}</h2>
              <!--Card Subtitle-->
              <h1 card-subtitle>{{advertisement.user_name}}</h1>
              <!--Card Body Text-->
              <p card-body-text>{{advertisement.section_name}}</p>
              <p card-body-text>{{advertisement.content}}</p>
            </ion-card-title>
          </ion-card-content>
        </ion-card>
        <hr width="90%" >
      </ion-col>
    </ion-row>



  </ion-grid>

  <div class="middlePage" *ngIf="noBlogsFlag" >
      <p> {{ data.NoBlogs }} </p>
  </div>
  


  
</ion-content>
