page-dhn-blogs {
  .spinner-view {
    img {
      width: 100px;
      height: 100px;
      margin: 0 auto;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    .swiper-pagination-bullet {
      background: theme-colors('mainColors', 'accent') !important;
    }
  }

  .spinnerCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .image-blog{
    width: 854px;
    height: 290px;
  }
  ion-spinner * {
    stroke: #ff0000;
    fill: #8b0000;
    position: fixed;
    z-index: 999;
    height: 5em;
    width: em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  ion-card {
    box-shadow: none !important;
    border-radius: $border-radius !important;

    [card-image] {
      position: relative;


      ion-badge {
        right: 65px;
        bottom: 10px;
        z-index: 3;
        padding: 6px 15px !important;
      }

      [button-action-shit] {
        bottom: 6px;
        right: 16px;
      }

      .badge-md{
        background-color: #21E7B6 !important;
      }
    }

    // Card Description
    [card-title] {
      white-space: nowrap !important;
      color: color($googleCard, card-title-basic) !important;
    }

    [card-subtitle] {
      margin-bottom: 40px;
      white-space: nowrap !important;
      color: color($googleCard, card-subtitle-basic) !important;
    }

    [card-body-text] {
      color: color($googleCard, card-description-basic) !important;
    }
  }
}
