<ion-header>

  <ion-navbar>
    <ion-title>Advertisement</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openBlogAddItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button icon-only (click)="filter()">
        <ion-icon name="ios-funnel-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-searchbar (ionInput)="getItems($event)" placeholder="Seach in blogs"></ion-searchbar>


  <ion-grid no-padding>
    <ion-row *ngIf="Blogs != null">
      <ion-col col-12 col-lg-4 *ngFor="let advertisement of Blogs;let i = index">
        <ion-card text-left (click)="viewSingleBlog(advertisement.id)">
          <!--Card Image-->
          <div card-image>
            <img class="image-blog" onError="this.src='assets/img/dothelpnation.png';" [src]="advertisement.photo" />
            <ion-badge ion-fixed item-end class="badge-dark">about {{advertisement.date | timeAgo}}</ion-badge>
            <button ion-fixed ion-button button-action-shit (click)="presentBlogOptionsActionSheet(advertisement.id)">
              <ion-icon name="{{advertisement.shareIcon}}"></ion-icon>
            </button>
          </div>
          <!--Card descriptiom-->
          <ion-card-content >
            <ion-card-title>
              <!--Card Title-->
              <h2 card-title>{{advertisement.title}}</h2>
              <!--Card Subtitle-->
              <h1 card-subtitle>{{advertisement.user_name}}</h1>
              <!--Card Body Text-->
              <p card-body-text>{{advertisement.content}}</p>
            </ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>



  </ion-grid>


  <ion-content padding class="spinnerCenter" *ngIf="Blogs == null">
    <ion-spinner name="crescent"></ion-spinner>
  </ion-content>


  
</ion-content>
