<ion-header no-shadow style="background-color: rgb(24, 153, 121);">
  <ion-navbar>
    <ion-buttons end *ngIf="showSkip">
      <button ion-button (click)="startApp()" style="color:white;">{{ 'TUTORIAL_SKIP_BUTTON' | translate}}</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce style="background-color: rgb(24, 153, 121);">

  <ion-slides pager="true" dir="{{dir}}" (ionSlideWillChange)="onSlideChangeStart($event)">

    <ion-slide *ngFor="let slide of slides" >
      <img [src]="slide.image"/>
      <p style="color: white;">{{ slide.title }}</p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/mising.jpg"/>
      <p style="color: white;">{{ 'TUTORIAL_SLIDE4_TITLE' | translate }}</p>
      <p (click)="startApp()" style="color: white; font-weight: bold;">{{ 'TUTORIAL_SLIDE_LAST_TITLE' | translate }}</p>
    </ion-slide>
  </ion-slides>
</ion-content>

<!-- [ngStyle]="{'background-image': 'url(' + slide.image +')'}" -->
